pywhatkit==4.8
PyAutoGUI==0.9.52
dataclasses==0.6
requests==2.21.0
numpy==1.21.0
youtube_search==2.1.0
better_profanity==0.7.0
selenium==3.141.0
SpeechRecognition==3.8.1
pygame==2.0.1
gTTS==2.2.3
dpymenus==1.3.1
discord.py==1.7.3
pandas==1.2.5
pyttsx3==2.90
googlesearch_python==1.0.1
wikipedia==1.4.0
discord==1.7.3
python-dotenv==0.18.0
RPi==0.0.1
tinydb==4.5.0
